
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <title>Pagina Principal</title>
    </head>
    <body>
        <h1 align="center">Pagina Principal</h1>
        <hr>
        
        <div style="text-align: center;">
        <a href="/lista_contactos"><button>Lista de Contactos</button></a>
        
        
        <button>Ver Contactos</button>
        <button>Insertar Contactos</button>
        <button>Editar Contactos</button>
        <button>Borrar Contactos</button>
        </div>
            
 
        

    </body>
</html>